$color-heliotrope: #935AFE;
$color-titan-white: #F7F7FF;
$color-white: #ffffff;
$color-royal-blue: #5E50EE;
$color-cornflower-blue: #6657F5;
$color-paua: #25006B;

$font-dm-sans: 'DM Sans', sans-serif;
$sidebar-width: 23rem;
