nav.nav
  .logo
    a.logo__sidebar.link
      svg.bi.icon(width="28", height="28", fill="currentColor")
        use(xlink:href="icons/bootstrap-icons.svg#bank")
      | Budget App
  aside.nav__menu
    ul.nav__menu__list
      li.nav__menu__list__item
        a.link(class=(path === '/' ? 'active' : ''), href="/")
          svg.bi.icon(width="28", height="28", fill="currentColor")
            use(xlink:href="icons/bootstrap-icons.svg#house-door-fill")
          | Dashboard
      li.nav__menu__list__item
        a.link(href="#")
          svg.bi.icon(width="28", height="28", fill="currentColor")
            use(xlink:href="icons/bootstrap-icons.svg#credit-card-fill")
          | Premium
      li.nav__menu__list__item
        a.link(href="#")
          svg.bi.icon(width="28", height="28", fill="currentColor")
            use(xlink:href="icons/bootstrap-icons.svg#person-fill")
          | Profile
      li.nav__menu__list__item
        a.link(class=(path === '/admin/add-transaction' ? 'active' : ''), href="/admin/add-transaction")
          svg.bi.icon(width="28", height="28", fill="currentColor")
            use(xlink:href="icons/bootstrap-icons.svg#pass-fill")
          | Transactions
      li.nav__menu__list__item
        a.link(href="#")
          svg.bi.icon(width="28", height="28", fill="currentColor")
            use(xlink:href="icons/bootstrap-icons.svg#gear-fill")
          | Settings
