.c-btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: .6rem 1.2rem;
      display: inline-block;
      border-radius: 0.25rem;
      transition: all 0.2s;
      position: relative;
      cursor: pointer;
  }

  &--primary {
    border: 1px solid $color-cornflower-blue;
    background-color: $color-cornflower-blue;
    color: $color-white;
  }
}
