.c-btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.375rem 0.75rem;
      display: inline-block;
      border-radius: 0.25rem;
      transition: all 0.2s;
      position: relative;
      cursor: pointer;
  }
}
