extends ../../base.pug

block content
  main
    - var title = 'Add Transaction'
    - var subtitle = 'Add new transaction'
    include ../../partials/header
    .l-container
      .l-grid
        .l-grid__item
          .card
            .card__body
              form(action=`/admin/${editing ? 'edit-transaction' : 'add-transaction'}`, method='POST').form
                .form__group
                  label.form__label(for="transactionTitle") Title
                  input#transactionTitle.form__control(type="text", name="title")
                .form__group
                  label.form__label(for="transactionType") Type
                  select#transactionType.form__control(name="type")
                    option Income
                    option Expense
                .form__group
                  label.form__label(for="transactionCategory") Category
                  select#transactionCategory.form__control(name="category")
                    option Food
                    option Credit Card Payment
                    option Service
                .form__group
                  label.form__label(for="transactionAmount") Amount
                  input#transactionAmount.form__control(type="text", name="amount")
                .form__group
                  button.c-btn.c-btn--primary(type="submit") Submit
